{{!
    Rule edit page — conditions and actions sections.

    @package   local_automator
    @copyright 2026 DSL
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="local-automator-rule-edit">
    {{> local_automator/conditions_section}}
    {{> local_automator/actions_section}}
</div>
